.cards
- if upcoming_appointments
  %h3 Upcoming Appointments
  - upcoming_appointments.each do |appointment|
    .card
      .card-header
        = link_to "#{appointment.summary}", "#{appointment.event_link}", target: "_blank"
      .card-copy
        %p= "#{appointment.description}"
        %p= "#{appointment.formatted_start_time} to #{appointment.formatted_end_time}"
- if past_appointments
  %h3 Past Appointments
  - past_appointments.each do |appointment|
    .card
      .card-header
        = link_to "#{appointment.summary}", "#{appointment.event_link}", target: "_blank"
      .card-copy
        %p= "#{appointment.description}"
        %p= "#{appointment.formatted_start_time} to #{appointment.formatted_end_time}"
