.card
  .card-image
    %img{:alt => ""}
  .card-header
    %h3= "#{student.first_name} #{student.last_name}"
  .card-copy
    %p= "Email: #{student.email}"
    %p= "Status: #{student.year}"
    %p= "Major: #{student.major}"
    %p= "Advisor: #{student.user.first_name} #{student.user.last_name}"
