<% if @student.valid? %>
  // update student information
  $(".student-info__container--outer").html("<%= escape_javascript(render 'students/student_info', student: @student) %>");
  // update student name in header
  $(".main-content__header").html("<h1> <%= @student.first_name %> <%= @student.last_name %> </h1>")
  // close modal
  $(".modal-state:checked").prop("checked", false).change();
  $(".main-content__container--outer").prepend("<div class='flash-success flash-message'><%= flash[:success] %> </div>");
  $(".flash-message").fadeOut(5000);
<% else %>
  $(".modal-inner").prepend("<div class='flash-error flash-message'> <%= flash[:error] %> </div>");
  $(".flash-message").fadeOut(5000);
<% end %>
