.cards
  %h3 Upcoming Appointments
- @upcoming_events.each do |event|
  .card
    .card-header
      %h3= event.summary
    .card-copy
      %p= "Starts: #{event.formatted_start_time}"
      %p= "Ends: #{event.formatted_end_time}"
  %h3 Past Appointments
- @past_events.each do |event|
  .card
    .card-header
      %h3= event.summary
    .card-copy
      %p= "Starts: #{event.formatted_start_time}"
      %p= "Ends: #{event.formatted_end_time}"
