.button__container
  %button.modal-trigger#student__new
    %label{:for => "student"} Add Student
  .modal
    %input#student.modal-state{:type => "checkbox"}/
    .modal-window
      .modal-inner
        %ul.accordion-tabs
          %li.tab-header-and-content
            = link_to "Single Student", "javascript:void(0)", class: "is-active tab-link"
            .tab-content
              = render partial: "students/form", locals: { user: @user, student: @new_student  }
          %li.tab-header-and-content
            = link_to "Import List", "javascript:void(0)", class: "tab-link"
            .tab-content
              = render partial: "students/form", locals: { user: @user, student: @new_student  }
.student__cards
  .cards
    = render partial: "students/students", collection: @students, as: :student
