.main-content__container--outer
  .main-content__header
    %h1= "#{@user.full_name}"
.main-content__container--inner
  %ul.accordion-tabs
    %li.tab-header-and-content
      = link_to "Students | #{@user.student_count}", "javascript:void(0)", class: "is-active tab-link"
      .tab-content
        .button__container
          %button.modal-trigger#student__new
            %label{:for => "student"} Add Student
          .modal
            %input#student.modal-state{:type => "checkbox"}/
            .modal-window
              .modal-inner
                = render partial: "students/form", locals: { user: @user, student: @new_student  }
        .student__cards
          .cards
            = render partial: "students/students", collection: @students, as: :student
    %li.tab-header-and-content
      = link_to "Tasks", "javascript:void(0)", class: "tab-link"
      .tab-content
        .student__cards
    %li.tab-header-and-content
      = link_to "Appointments", "javascript:void(0)", class: "tab-link"
      .tab-content
        .button__container
          %button.modal-trigger#appointment__new
            %label{:for => "appointment"} New Appointment
          .modal
            %input#appointment.modal-state{:type => "checkbox"}/
            .modal-window
              .modal-inner
                = render partial: "appointments/form", locals: { user: @user, appointment: @new_appointment}
        .appointments__list
          = render partial: "users/events", locals: { upcoming_events: @upcoming_events, past_events: @past_events}
        .student__cards
