.main-content__container--outer
  .main-content__header
    %h1= "#{@user.full_name}"
.main-content__container--inner
  %ul.accordion-tabs
    %li.tab-header-and-content
      = link_to "Students | #{@user.student_count}", "javascript:void(0)", class: "is-active tab-link"
      .tab-content
        = render partial: "users/user_students"
    %li.tab-header-and-content
      = link_to "Tasks", "javascript:void(0)", class: "tab-link"
      .tab-content
        = render partial: "users/user_tasks"
    %li.tab-header-and-content
      = link_to "Appointments", "javascript:void(0)", class: "tab-link"
      .tab-content
        = render partial: "users/user_appointments"
