!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AdviseMe
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'refills/centered_navigation'
    .wrapper-for-content-outside-of-footer
      = render partial: 'layouts/flash_messages'
      = yield
  = render partial: 'refills/footer_2'

:javascript
  $(document).ready(function(){
    setTimeout(function(){
      $('.flash-message').fadeOut(3000);
    });
  });
